enable-pre-post-scripts=true
@bcg:registry=https://verdaccio.bonnconsulting.group
//verdaccio.bonnconsulting.group/:_authToken=${NPM_VERDACCIO_TOKEN_PROD}

@bonn-consulting-ug:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_GITHUB_READ_PACKAGES_TOKEN}